<div class="wrapper">
    <div class="sidebar" data-color="red">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="container-fluid mt-5 pt-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
