<div class="wrapper">
    <div class="main-panel-full">
        <div class="panel-header panel-header-sm">
          </div>
          <div class="main-content">
            <div class="row">
              <div class="offset-md-4 col-md-4">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Login</h5>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="loginForm">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label>E-mail*</label>
                            <input type="text" formControlName="email" class="form-control" placeholder="E-mail">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label>Senha*</label>
                            <input type="password" formControlName="password" class="form-control" placeholder="Senha">
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-12">
                          <div class="text-center">
                            <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-info btn-round">Login</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

  