<div _ngcontent-c5="" class="panel-header panel-header-sm pt-5">
  <div class="row">
    <div class="col-12">
      <h3 class="pl-3 white">Adicionar Projeto</h3>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="projectName">Nome do Projeto</label>
                  <input type="text" class="form-control" placeholder="Nome do Projeto" formControlName="name">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="projectClients">Clientes</label>
                  <angular2-multiselect 
                  [data]="clients" 
                  [(ngModel)]="selectedItem"
                  [settings]="clientsSettings"
                  name="clients"
                  (onSelect)="onItemSelect($event)"
                  [ngModelOptions]="{standalone: true}"
                  ></angular2-multiselect>
                </div>
              </div>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

