<div class="row">
  <div class="col-12">
    <h1>Resumo</h1>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="card card-chart">
      <div class="card-header">
        <h4 class="card-title">Clientes</h4>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item" href="#">Adicionar Cliente</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nome
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of clients">
                <td>
                  {{item.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card card-chart">
      <div class="card-header">
        <h4 class="card-title">Projetos</h4>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['/admin/projeto']">Adicionar Projeto</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nome
              </th>
              <th>
                Categoria
              </th>
              <th>
                Cliente
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of projects">
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.categoria.name}}
                </td>
                <td>
                  {{item.cliente.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>